
<div class="container">

                {% csrf_token %}

                {% block content %}

                <style>
                input[type=text], select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                }

                input[type=submit] {
                width: 100%;
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                }

                input[type=submit]:hover {
                background-color: #45a049;
                }

               
                </style>
                <body>

                <h3>Enter Casual Details</h3>

                <div>
                    
                <form action="result">
                    
                    <input type="text" id="lb" name="Limited_Balance" placeholder="Limited Balance">

                    
                    <select id="edu" name="Education">
                    <option value= 1>Graduate School</option>
                    <option value= 2>University</option>
                    <option value= 3>High School</option>
                    <option value= 4>Others</option>
                    </select>

                    
                    <select id="mrg" name="Marriege">
                    <option value= 1>Married</option>
                    <option value= 2>Single</option>
                    <option value= 3>Others</option>
                    </select>

                    <input type="text" id="age" name="Age" placeholder="Age">

                    <select id="pay1" name="Pay1">
                        <option value= -2>Account started that month with zero balance and never used any credit</option>
                        <option value= -1>Account had a balance that was paid in full</option>
                        <option value= 0>At least the minimum payment was made, but the entire balance wasn't paid</option>
                        <option value= 1>Payment delay for 1 month</option>
                        <option value= 2>Payment delay for 2 months</option>
                        <option value= 3>Payment delay for 3 months</option>
                        <option value= 4>Payment delay for 4 months</option>
                        <option value= 5>Payment delay for 5 months</option>
                        <option value= 6>Payment delay for 6 months</option>
                        <option value= 7>Payment delay for 7 months</option>
                        <option value= 8>Payment delay for 8 months</option>
                    </select>

                    <h3>Enter Past 6 Months Bill Amout Details</h3>

                    <input type="text" id="lmba1" name="last_bill1" placeholder="Last month Bill Amount">
                    <input type="text" id="lmba2" name="last_bill2" placeholder="2nd Last month Bill Amount">
                    <input type="text" id="lmb3a" name="last_bill3" placeholder="3rd Last month Bill Amount">
                    <input type="text" id="lmba4" name="last_bill4" placeholder="4th Last month Bill Amount">
                    <input type="text" id="lmba5" name="last_bill5" placeholder="5th Last month Bill Amount">
                    <input type="text" id="lmba6" name="last_bill6" placeholder="6th Last month Bill Amount">

                    <h3>Enter Past 6 Months Amout Paid Details</h3>

                    <input type="text" id="aplm1" name="amount_paid1" placeholder="Amount paid in last month">
                    <input type="text" id="aplm2" name="amount_paid2" placeholder="Amount paid in 2nd last month">
                    <input type="text" id="aplm3" name="amount_paid3" placeholder="Amount paid in 3rd last month">
                    <input type="text" id="aplm4" name="amount_paid4" placeholder="Amount paid in 4th last month">
                    <input type="text" id="aplm5" name="amount_paid5" placeholder="Amount paid in 5th last month">
                    <input type="text" id="aplm6" name="amount_paid6" placeholder="Amount paid in 6th last month">

                    <input type="submit" value="Predict">
                    <style>
                        textarea {
                          resize: none;
                          background-color: black;
                          font-weight: bold;
                          color : whitesmoke;
                          font-family: Verdana, Arial, Helvetica, sans-serif;
                          border: 1px solid black;
                          text-align: center;
                        }
                        </style>

                    <textarea id="w3review" name="w3review" rows="2" cols="106">
                        {{pred}}
                        </textarea>



                              
                </form>
                </div>

               {% endblock %}
            </div>